.swiper-wrapper {
  padding-bottom: 40px;
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 5px;
  border-radius: 0;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet:hover {
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  transition: all 0.25s ease;
}

.swiper-pagination-bullet-active {
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  color: #fff;
  background: #1976d2;
}
