@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 23 38% 99%;
  --foreground: 23 68% 1%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0% 0% 4%;
    --foreground: 0% 0% 93%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
